
<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a id="name" class="navbar-brand" href="/">Resume</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    {% for block in page.resume_blocks %}
                        {% if block.first %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#sec-{{block.first}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ text_section[block.first] }}</a>
                                <ul class="dropdown-menu">
                                {% for sub in block offset:1 %}
                                    <li> <a class="nav-link" href="#subsec-{{sub}}">{{ text_section[sub] }}</a> </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <a class="nav-link" href="#sec-{{block}}">{{ text_section[block] }}</a>
                        {% endif %}
                    {% endfor %}

                </ul>
                <ul class="navbar-nav ms-auto">
                    <a class="nav-link" href="/zh-tw">繁體中文</a>
                    <a class="nav-link" href="/">English</a>
                </ul>
            </div>
        </div>
    </nav>
</div>
