{% assign award_list = resume.award | sort: "year" | reverse %}

<ol class="list-group list-group-flush">
{% for award_item in award_list %}
    {% assign title = award_item.title[page.language] | default: award_item.title["default"] %}
    {% assign year = award_item.year %}
    {% assign work = award_item.work[page.language] | default: award_item.work["default"] %}
    {% assign grade = award_item.grade[page.language] | default: award_item.grade["default"] %}
    {% assign award = award_item.award[page.language] | default: award_item.award["default"] %}
    {% assign certificate = award_item.certificate[page.language] | default: award_item.certificate["default"] %}
    {% assign link = award_item.link[page.language] | default: award_item.link["default"] %}
    <li class="list-group-item">
        {{ title }}, {{ year }},
        {% if work %} {{ work }} {% endif %}
        {% if grade %} ({{ grade }}) {% endif %}
        {% if award %} ({{ award }}) {% endif %}
        {% if certificate %} [<a href="{{certificate}}">{{ text_plain.certificate }}</a>] {% endif %}
        {% if link %} [<a href="{{link}}">link</a>] {% endif %}
    </li>
{% endfor %}
</ol>
