{% assign item_list = site.data.resume.education | default: site.data.resume.default.education %}

<h2 id="education">{{ text_section.education }}</h2>
<ul>
{% for item in item_list %}
    {% assign degree = item.degree[page.language] | default: item.degree["default"] %}
    {% assign department = item.department[page.language] | default: item.department["default"] %}
    {% assign name = item.name[page.language] | default: item.name["default"] %}
    {% assign from = item.from[page.language] | default: item.from %}
    {% assign end = item.end[page.language] | default: item.end %}
    <li>
        {{ degree }},
        {{ department }}, 
        {{ name }}, 
        {{ from }} ~ {{ end }}
    </li>
{% endfor %}
</ul>