{% assign item_list = resume.programming %}

<h2 id="sec-programming">{{ text_section.programming }}</h2>

<ol>
{% for item in item_list %}
    {% assign title = item.title[page.language] | default: item.title %}
    {% assign link = item.link %}
    {% assign description = item.description[page.language] | default: item.description.default  %}
    {% assign techniques = item.main_program_lang[page.language] | default: item.main_program_lang %}

    <li>
        <b>{{ title }}</b>
        <ul>
            {% if link %}<li>link: <a href="{{ link }}">{{ link }}</a></li>{% endif %}
            <li>techniques: 
                {% for item in techniques %}
                    <span class="border rounded px-1 bg-primary text-white">{{ item }}</span>
                {% endfor %}
            </li>
            <li>{{ description }}</li>
        </ul>      
    </li>
{% endfor %}
</ol>
