---
import BaseSection from '@components/BaseSection.astro';

interface Props {
  lang: string;
  content: any;
}

const { lang, content } = Astro.props;
const text: Record<string, Record<string, string>> = {
    "en": {
        publications: "Publications",
        master_thesis: "Master Thesis",
        journals: "Journals",
        conferences: "Conferences",
    },
    "zh-tw": {
        publications: "著作",
        master_thesis: "碩士論文",
        journals: "期刊論文",
        conferences: "會議論文",
    },
};

---

<BaseSection>
    <h2 id="publications">{text[lang].publications}</h2>
    { content.master_thesis && (
        <h3>{text[lang].master_thesis}</h3>
        <p>{ content.master_thesis.title }</p>
        <a href={content.master_thesis.link} target="_blank" rel="noopener noreferrer">{content.master_thesis.link}</a>
    )}

    { content.journals && (<h3>{text[lang].journals}</h3>) }
    { content.journals && 
        <ol class="list-decimal list-inside">
            { content.journals.map((journal: any, index: number) => (
                <li class="mb-4">
                    <span set:html={journal.authors}></span><span>,</span>
                    <span>{ journal.title },</span>
                    <span class="italic">{ journal.publication },</span>
                    <span>DOI: <a href={`https://doi.org/${journal.doi}`} target="_blank" rel="noopener noreferrer">{ journal.doi }</a></span>
                    { journal.note && <p>{ journal.note }</p> }
                </li>
            )) }
        </ol> 
    }

    { content.conferences && <h3>{text[lang].conferences}</h3> }
    { content.conferences && (
        <ol class="list-decimal list-inside">
            { content.conferences.map((conf: any) => (
                <li class="mb-4">
                    <span set:html={conf.authors}></span><span>,</span>
                    <span>{ conf.title },</span>
                    <span class="italic">{ conf.publication }</span>
                    { conf.note && <p>{ conf.note }</p> }
                </li>
            )) }
        </ol>
    ) }
</BaseSection>
            