---
import { getEntry } from "astro:content";

import Resume from "@layouts/Resume.astro";
import EducationSection from "@components/Education.astro";
import PublicationsSection from "@components/Publications.astro";
import AwardsSection from "@components/Awards.astro";
import ProgrammingSection from "@components/Programming.astro";

export async function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "zh-tw" } },
  ];
}

const { lang } = Astro.params;

const default_entry = await getEntry("resume", "en");
const entry = await getEntry("resume", lang ?? "en");

if(!default_entry) {
  throw new Error(`Default resume not found for language: en`);
}
if (!entry) {
  throw new Error(`Resume not found for language: ${lang}`);
}

const data = {
    ...default_entry.data,
    ...entry.data,
    publications: {
        master_thesis: entry.data.publications?.master_thesis ?? default_entry.data.publications?.master_thesis,
        journals: entry.data.publications?.journals ?? default_entry.data.publications?.journals,
        conferences: entry.data.publications?.conferences ?? default_entry.data.publications?.conferences,
    },
};


---

<Resume>
    <nav class="flex flex-row w-full mb-8 print:hidden">
        <div>
            <a href={`/${lang}/`}>Resume</a>
        </div>
        <div class="inline-block ml-auto">
            {lang === "en" ? (
                <a href="/zh-tw/">繁體中文</a>
            ) : (
                <a href="/en/">English</a>
            )}
        </div>
    </nav>
    <div class="mb-8 w-full">
        <h1>{ data.name }</h1>
        Email: { data.email }<br />
    </div>
    <div class="grid grid-cols-1 gap-0 lg:grid-cols-3 print:grid-cols-3">
        <aside class="lg:col-span-1 print:col-span-1 flex flex-col gap-4 lg:border-r print:border-r">
            <EducationSection lang={lang} content={data.education} />
            <AwardsSection lang={lang} content={data.awards} />
        </aside>
        <main class="lg:col-span-2 print:col-span-2 flex flex-col gap-4">
            <PublicationsSection lang={lang} content={data.publications} />
            <ProgrammingSection lang={lang} content={data.programming} />
        </main>
    </div>

</Resume>